:root {
    --button-color: #52315c;
    --high-score-text: #f34cf3;
    --tertiary-color: #39a6b2;
}


header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.high-scores {
    text-decoration: none;
}



.screen-content {
    text-align: center;
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
}

.page-content h1 {
    font-weight: bold;
    font-size: 35px;
    /* line-height: 0.1; */
}

section p {
    line-height: 0.1;
}

/* #start-button {
    background-color: var(--button-color);
    border: none;
    color: white;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
} */

.btn {
    background-color: var(--button-color);
    border: none;
    color: white;
    padding: 1px 10px;
    /* 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
}



.answer-options {
    background-color: var(--button-color);
    border: none;
    color: white;
    padding: 1px 1px 1px 1px;
    /* 15px 32px; */
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 20%;
    line-height: 2;
}


#footer-content {
    color: gray;
    /* border-top: 1px solid; */
    /* border-color: gray; */
    font-size: 35px;
}



.end-screen{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.score-initials {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.score-initials form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.start-screen{
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}